<header>
    <h2>JavaXcel</h2>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
        <li><a routerLink="">Blog</a></li>
        <li><a routerLink="">Service</a></li>
        <li><a routerLink="">Contact Us</a></li>

    </ul>
</header>
<app-coming-soon></app-coming-soon>

<footer>
    <div class="sec">
        <h2>JavaXcel</h2>
        <p>Unlock your potential in Java development with Javaxcel, your premier destination for Full Stack training. Our
            expert-led programs ensure comprehensive learning, covering Java fundamentals to advanced techniques. Through
            hands-on projects and personalized support</p>
    </div>
    <div class="sec">
        <h2>NavBar Links</h2>
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
            <li><a routerLink="">Blog</a></li>
            <li><a routerLink="">Service</a></li>
            <li><a routerLink="">Contact Us</a></li>
    
        </ul>
    </div>
    <div class="sec">
        <h2>Contact Us</h2>
       <ul class="li">admin&#64;javaxcel.com</ul>
       <ul class="li">9226881070</ul>
       <ul class="li">Narhe Branch,Pune</ul>
    </div>
</footer>