


header{
    width: 100%;
    padding: 20px 50px;
    background-color: #222;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h2{
    color: #fff;
}

header ul {
    display: flex;
}

header ul li{
    margin-left: 20px;
}

header ul li a {
    padding: 5px 10px;
    font-weight: 500;
    color: #fff;
}


header ul li a:hover{
    background-color: lightgray;
    color: #000;
}

footer {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    background-color: #222;
}


footer .sec{
     width: 30%;
    
}

footer .sec:nth-child(2){
   
    padding-left: 40px;
  
}
footer .sec h2{
    color: #fff;
}
footer .sec p{
    color: #fff;
}

footer .sec ul{
    color: #fff;
}

footer .sec:nth-child(2) ul{   
    margin: 6px 10px;
     }

footer .sec:nth-child(3) ul{
   
   margin: 6px 0px;
}




