<!-- coming-soon.component.html -->

<section class="coming-soon">
  <div class="content">
    <h1>Coming Soon</h1>
    <p>Our website is under construction. Stay tuned for updates!</p>
    <p>Follow us on social media for the latest news:</p>
    <div class="social-icons">
      <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</section>
